/* purgecss start ignore */
.btn,
button,
.button {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-radius: 38px;
    @include transition(all 0.45s cubic-bezier(0.25, 0.74, 0.22, 0.99));
    &:hover {
        text-decoration: none;
    }
    &.btn-basic {
        @include crea-cta;
        padding: 1.4rem 3rem;
        .ico {
            font-size: 1.4rem;
        }
        &.btn-beige {
            color: $crea-beige-400;
            border: 1px solid $crea-beige-400;
            &:hover {
                color: $crea-black-400;
                background-color: $crea-beige-400;
            }
        }
        &.btn-dark {
            color: $crea-black-400;
            border: 1px solid $crea-black-400;
            &:hover {
                color: $crea-beige-300;
                background-color: $crea-black-400;
            }
        }
    }
    &.btn-header {
        @include crea-texte-14-medium;
        padding: 0.8rem 2.4rem;
        color: $crea-black-400;
        background-color: $crea-beige-300;
        .ico {
            font-size: 1.4rem;
        }
        &:hover {
            color: $crea-black-400;
            background-color: $crea-beige-400;
        }
    }
    &.btn-icon {
        display: inline-flex;
        align-items: center;
        .ico {
            margin-right: 1rem;
        }
    }
    &.btn-link {
        color: $crea-beige-400;
        @include crea-link;
        &:hover {
            color: $crea-beige-300;
        }
        &.btn-icon {
            .ico {
                margin-right: 0;
                margin-left: 1rem;
            }
        }
    }
}
#header {
    &.scrolled {
        .btn,
        button,
        .button {
            &.btn-header {
                color: $white;
                background-color: $crea-green-500;
                &:hover {
                    background-color: $crea-green-400;
                }
            }
        }
    }
}
.buttons {
    position: relative;
    z-index: 2;
    margin-top: 4rem;
    gap: 0.5rem;
    &.bigger {
        margin-top: 6rem;
    }
    &.smaller {
        margin-top: 3rem;
    }
    &.noMT {
        margin-top: 0;
    }
    &.center {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* purgecss end ignore */
