$xxdesktop: "only screen and (max-width : 1750px)";
$xdesktop: "only screen and (max-width : 1650px)";
$desktop: "only screen and (max-width : 1400px)";
$laptop: "only screen and (max-width : 1200px)";
$tablet: "only screen and (max-width : 992px)";
$mobile: "only screen and (max-width : 768px)";
$mobileSM: "only screen and (max-width : 570px)";
$nokia: "only screen and (max-width : 450px)";

@media #{$xxdesktop} {
}

@media #{$xdesktop} {
    #header {
        .header {
            ul li a {
                padding: 1rem 1.8rem;
            }
        }
    }
    section {
        .mySwiper .swiper-wrapper .swiper-slide .baseline span {
            &:first-child {
                display: block;
                &:after {
                    content: none;
                }
            }
        }
        .colFull {
            height: 80vh;
            max-height: 70rem;
        }
    }
}

@media #{$desktop} {
    #header {
        .header {
            ul li a {
                padding: 1rem 1.5rem;
            }
            .left,
            .right {
                flex: 0 0 17%;
            }
        }
        .btn-header {
            i {
                margin-right: 0;
            }
            span {
                display: none;
            }
        }
    }
    section {
        .colFull {
            height: 70vh;
            max-height: 60rem;
        }
        &.full {
            max-height: 80rem;
        }
        &.section-header-page p {
            padding-right: 10rem;
        }
    }
}

@media #{$laptop} {
    :root {
        --paddingYsection: 5rem;
        --paddingXsection: 5rem;
    }
    #header {
        .header {
            justify-content: space-between;
            .left,
            .right {
                flex: auto;
                align-items: stretch;
            }
            .right {
                .btn {
                    align-items: center;
                }
            }
        }
        #menu-mobile {
            li {
                &:hover,
                &.current-menu-item {
                    a {
                        color: $crea-cuivre-400;
                    }
                }
            }
            #langs-mobile {
                display: flex;
                margin-top: 4rem;
                justify-content: center;
                border-top: 1px solid rgba($crea-beige-300, 0.2);
                border-bottom: 1px solid rgba($crea-beige-300, 0.2);
                li {
                    a {
                        padding-left: 1rem;
                        padding-right: 1rem;
                    }
                    &:hover,
                    &.current-lang {
                        a {
                            color: $crea-cuivre-400;
                        }
                    }
                }
            }
            .bottom {
                display: flex;
                justify-content: center;
                margin-top: 5rem;
                .btn-header {
                    i {
                        margin-right: 1rem;
                    }
                    span {
                        display: block;
                    }
                }
            }
        }
    }
    section {
        &.full {
            max-height: 70rem;
        }
        .colFull {
            height: 60vh;
            max-height: 55rem;
            .bgLink .wContent .content {
                padding: 3.5rem;
            }
        }
    }
    /* purgecss start ignore */
    #header {
        &.activeMobile {
            .header {
                #langs,
                .btn-header {
                    @include opacity(0);
                }
            }
            #menu-mobile {
                @include opacity(1);
                bottom: 0;
                @include transform(translateX(0%));
            }
        }
    }
    /* purgecss end ignore */
}

@media #{$tablet} {
    :root {
        --paddingYsection: 4rem;
        --paddingXsection: 4rem;
    }
    .tabletTop {
        margin-top: calc(var(--paddingYsection) * 2);
    }
    .tabletBottom {
        margin-bottom: calc(var(--paddingYsection) * 2);
    }
    .tabletBottomL {
        margin-bottom: calc(var(--paddingYsection) * 1);
    }
    .tabletCenter {
        text-align: center;
    }
    section {
        &.standard {
            .compenseTop {
                margin-top: calc(var(--paddingYsection) * 2);
            }
            .compenseBottom {
                margin-bottom: calc(var(--paddingYsection) * 2);
            }
        }
        &.fullxl {
            // height: 100vh;
            max-height: 150rem;
        }
        &.full {
            height: auto;
            max-height: auto;
            padding-top: calc(var(--paddingYsection) * 3);
            padding-bottom: calc(var(--paddingYsection) * 3);
            &.section-header-page {
                height: 100vh;
                max-height: 70rem;
                padding-top: calc(var(--paddingYsection) * 0);
                padding-bottom: calc(var(--paddingYsection) * 0);
            }
        }
        .colFull {
            height: 80vh;
            max-height: 70rem;
            .bgLink .wContent .content {
                padding: 3.5rem;
            }
        }
        &.section-team {
            .compense {
                margin-left: 2rem;
                margin-top: calc(var(--paddingYsection) * 2);
            }
            .compensealt {
                margin-right: -2rem;
            }
        }
        &.section-liste .liste {
            @include headings {
                justify-content: center;
                flex-direction: column;
                .ico {
                    margin-bottom: 1rem;
                    margin-right: 0rem;
                    @include transform(rotate(90deg));
                }
            }
        }
        &.section-properties-list .list-propertie {
            margin-bottom: 6rem;
            .tabletBottom {
                margin-bottom: 4rem;
            }
            .localisation {
                justify-content: center;
            }
            &:last-child {
                padding-bottom: 6rem;
                margin-bottom: 0;
            }
        }
    }
    #footer .top {
        .second-menu a,
        .socials {
            justify-content: center;
            li {
                margin: 0 1rem;
            }
        }
    }
}

@media #{$mobile} {
    .mobileBottomL {
        margin-bottom: calc(var(--paddingYsection) * 1);
    }
    #header {
        .header {
            padding: 1.2rem 2rem;
            #logo-header {
                img {
                    max-height: 4rem;
                }
            }
        }
        #menu-mobile {
            ul {
                li {
                    a {
                        padding: 1.6rem 0;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
    section {
        text-align: center;
        &.full {
            height: auto;
            max-height: auto;
            padding-top: calc(var(--paddingYsection) * 3);
            padding-bottom: calc(var(--paddingYsection) * 3);
        }
        .colFull {
            height: auto;
            max-height: auto;
            .bgLink {
                &:before {
                    top: 0;
                    @include opacity(0.3);
                }
                .wContent .content {
                    padding: calc(var(--paddingYsection) * 3) 2.5rem;
                    .btn-link {
                        color: $crea-beige-300;
                    }
                    .bottom {
                        height: auto !important;
                        max-height: 50rem !important;
                        @include opacity(1);
                    }
                }
            }
        }
        .introduction {
            @include headings {
                br {
                    display: none;
                }
            }
        }
        &.section-header-page {
            .bgHeader {
                width: 100%;
                height: 100%;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: rgba($crea-green-600, 0.5);
                }
            }
            p {
                padding-right: 0;
            }
        }
    }
    /* purgecss start ignore */
    #header {
        &.scrolled {
            .header {
                padding: 1rem 2rem;
            }
        }
    }
    .reveal-content {
        position: relative;
        z-index: 3;
    }
    .reveal {
        $revealDistance: 2rem;
        transition-delay: 0.1s;
        &.revealFT,
        &.revealFR,
        &.revealFL,
        &.revealFB {
            @include transform(translateY($revealDistance));
            &.loaded {
                @include transform(translateY(0px));
            }
        }
        @for $i from 1 to 10 {
            &.reveal#{$i} {
                transition-delay: $i * 0.1s;
                &.revealIMG {
                    &:after {
                        transition-delay: $i * 0.1s;
                    }
                }
                &.revealBG {
                    &:after {
                        transition-delay: $i * 0.1s;
                    }
                }
            }
        }
    }
    section {
        .mySwiper {
            .swiper-button-next,
            .swiper-button-prev {
                width: 5rem;
            }
        }
    }
    /* purgecss end ignore */
}

@media #{$mobileSM} {
    section {
        &.standard {
            .compenseTop {
                margin-top: 0;
            }
            .compenseBottom {
                margin-top: calc(var(--paddingYsection) * 1);
                margin-bottom: 0;
            }
        }
        .colFull {
            .bgLink {
                .wContent .content {
                    padding: calc(var(--paddingYsection) * 3) 1rem;
                }
            }
        }
        &.full {
            &.section-header-page {
                height: auto;
                max-height: auto;
                .row {
                    padding-top: calc(var(--paddingYsection) * 4);
                    padding-bottom: calc(var(--paddingYsection) * 3);
                }
            }
        }
        &.section-team {
            .compense {
                margin-left: 1.5rem;
                margin-top: calc(var(--paddingYsection) * 1);
            }
            .compensealt {
                margin-right: -1.5rem;
            }
        }
        &.section-liste {
            .contenuDecal {
                padding-top: 6rem;
            }
            .imageDecal {
                margin-bottom: -4rem;
            }
        }
        &.section-properties-list .list-propertie {
            padding-top: 0;
            margin-bottom: 5rem;
            border: none;
            .tabletBottom {
                margin-bottom: 5rem;
            }
        }
    }
}

@media #{$nokia} {
    #header {
        .header {
            padding: 1.2rem 1rem;
            .btn-header {
                display: none;
            }
        }
        #menu-mobile {
            #langs-mobile {
                margin-top: 2rem;
                padding: 0.7rem 0;
                display: block;
                a {
                    padding: 0.7rem 0;
                }
            }
            .bottom {
                margin-top: 3rem;
            }
        }
    }
    /* purgecss start ignore */
    #header {
        &.scrolled {
            .header {
                padding: 1rem 1rem;
            }
        }
    }
    /* purgecss end ignore */
}

$mediumHeightLarge: "only screen and (max-height : 700px)";

@media #{$mediumHeightLarge} {
}

$mediumHeightMed: "only screen and (max-height : 550px)";

@media #{$mediumHeightMed} {
}
