// UTILITAIRES
section {
    position: relative;
    z-index: 4;
    &.standard {
        padding: var(--paddingYsection) 0;
        &.first {
            padding-top: calc(var(--paddingYsection) * 2);
        }
        &.firstxl {
            padding-top: calc(var(--paddingYsection) * 3);
        }
        &.last {
            padding-bottom: calc(var(--paddingYsection) * 2);
        }
        &.lastxl {
            padding-bottom: calc(var(--paddingYsection) * 3);
        }
        &.noPT {
            padding-top: 0;
        }
        &.noPB {
            padding-bottom: 0;
        }
        .compenseTop {
            margin-top: calc(var(--paddingYsection) * 3);
        }
        .compenseBottom {
            margin-bottom: calc(var(--paddingYsection) * 3);
        }
        .contentHover {
            position: absolute;
            z-index: 4;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            .ico {
                color: $crea-cuivre-400;
                font-size: 4rem;
                margin-bottom: 2rem;
            }
        }
    }
    &.bgGreen {
        color: $crea-beige-400;
        background-color: $crea-green-600;
    }
    &.bgWhite {
        background-color: $wrapper-bg;
    }
    &.full {
        overflow: hidden;
        height: 100vh;
        max-height: 95rem;
    }
    &.fullxl {
        overflow: hidden;
        height: 150vh;
        max-height: 180rem;
    }
    .colFull {
        overflow: hidden;
        height: 80vh;
        max-height: 80rem;
        .bgLink {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                z-index: 2;
                top: 100%;
                right: 0;
                bottom: 0;
                left: 0;
                background: $crea-green-600;
                background: linear-gradient(
                    0deg,
                    rgba(0, 41, 50, 1) 0%,
                    rgba(0, 41, 50, 0.9) 100%
                );
                @include opacity(0);
                @include transition(
                    opacity 0.55s cubic-bezier(0.25, 0.74, 0.22, 0.99),
                    top 0.55s cubic-bezier(0.25, 0.74, 0.22, 0.99)
                );
            }
            .picture {
                position: absolute;
                width: 100%;
                height: 100%;
            }
            .wContent {
                position: relative;
                z-index: 3;
                .content {
                    display: flex;
                    align-items: flex-end;
                    color: $crea-beige-400;
                    padding: 5rem;
                    .btn-link {
                        margin-top: 2.5rem;
                    }
                    .bottom {
                        max-height: 0;
                        // overflow: hidden;
                        margin-top: 0.5rem;
                        @include opacity(0);
                        @include transition(
                            all 0.25s cubic-bezier(0.25, 0.74, 0.22, 0.99)
                        );
                    }
                }
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover {
                &:before {
                    top: 0;
                    @include opacity(1);
                }
                .wContent {
                    .content {
                        .btn-link {
                            color: $crea-beige-300;
                        }
                        .bottom {
                            @include opacity(1);
                        }
                    }
                }
            }
        }
    }
    .introduction {
        margin-bottom: 6rem;
        .ico {
            display: block;
            color: $crea-cuivre-400;
            margin-bottom: 2rem;
            font-size: 5rem;
        }
        .btn {
            .ico {
                margin-bottom: 0;
                color: inherit;
            }
        }
    }
    &.section-header {
        &:before,
        &:after {
            content: "";
            position: absolute;
            z-index: 2;
            right: 0;
            bottom: 0;
            left: 0;
        }
        &:before {
            top: 0;
            background: $crea-green-600;
            background: linear-gradient(
                180deg,
                rgba(0, 41, 50, 0) 0%,
                rgba(0, 41, 50, 0.8) 70%,
                rgba(0, 41, 50, 1) 100%
            );
        }
        &:after {
            z-index: 5;
            height: 50vh;
            background: $crea-green-600;
            background: linear-gradient(
                180deg,
                rgba(0, 41, 50, 0) 0%,
                rgba(0, 41, 50, 1) 50%,
                rgba(0, 41, 50, 1) 100%
            );
        }
        .special {
            position: fixed;
            z-index: 3;
            width: 100%;
            bottom: calc(var(--paddingYsection) * 2);
        }
    }
    &.section-header-page {
        .bgSection {
            position: relative;
            &:after {
                z-index: 1;
                height: 100%;
                background-image: url("images/logo-fond-large.png");
                background-repeat: no-repeat;
                background-size: auto 100%;
                background-position: center;
            }
        }
        .bgHeader {
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            width: 50%;
            height: 90%;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .ico {
            display: block;
            color: $crea-cuivre-400;
            margin-bottom: 2rem;
            font-size: 5rem;
        }
        h1 {
            @include crea-h1-alternatif;
        }
        p {
            padding-right: 18vw;
        }
    }
    &.section-team {
        .compense {
            margin-left: 2rem;
            margin-top: calc(var(--paddingYsection) * 3);
        }
        .compensealt {
            margin-right: -2rem;
        }
        .pictofavicon {
            display: block;
            color: $crea-cuivre-400;
            margin-bottom: 2rem;
            font-size: 5rem;
        }
    }
    &.section-luxe {
        background-image: url("images/logo-fond.png");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: left -7rem center;
    }
    &.section-contact {
        .bgSection {
            padding-top: calc(var(--paddingYsection) * 2);
            padding-bottom: calc(var(--paddingYsection) * 2);
            background-image: url("images/logo-fond-light.png");
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: center;
        }
    }
    &.section-colonnes {
        .boxes {
            img {
                width: auto;
                display: block;
                margin: auto;
            }
            .boxContent {
                margin-top: 2.5rem;
                margin-bottom: 5rem;
                &.boxCenter {
                    text-align: center;
                    padding: 0 4rem;
                }
                @include headings {
                    text-transform: uppercase;
                    margin-bottom: 0.8rem;
                }
            }
        }
    }
    &.section-liste {
        .imageDecal {
            @include transform(translateY(calc(var(--paddingYsection) * -3)));
        }
        .contenuDecal {
            padding-top: 10rem;
        }
        .liste {
            margin-bottom: 3rem;
            padding-bottom: 3rem;
            border-bottom: 1px solid $crea-green-400;
            @include headings {
                text-transform: uppercase;
                margin-bottom: 0.8rem;
                display: flex;
                align-items: center;
                .ico {
                    margin-right: 1rem;
                    color: $crea-cuivre-400;
                }
            }
        }
    }
    &.section-properties-list {
        .list-propertie {
            padding-top: 1.6rem;
            margin-bottom: 1.6rem;
            border-top: 1px solid $crea-beige-400;
            &:last-child {
                padding-bottom: 1.6rem;
                border-bottom: 1px solid $crea-beige-400;
            }
            h3 {
                margin-bottom: 0.6rem;
            }
            .localisation {
                display: flex;
                align-items: center;
                text-transform: uppercase;
                margin-bottom: 1.2rem;
                color: $crea-cuivre-400;
                .ico {
                    margin-right: 1rem;
                }
            }
            .baseline {
                margin-top: 1.2rem;
                color: $crea-black-400;
                b,
                strong {
                    color: $crea-black-400;
                }
                span {
                    padding-right: 0.3rem;
                    &:after {
                        content: "•";
                        padding-left: 0.8rem;
                        color: $crea-black-300;
                    }
                    &:last-child {
                        &:after {
                            content: none;
                        }
                    }
                }
            }
        }
    }
    &#single-header {
        #breadcrumb {
            position: absolute;
            z-index: 2;
            width: 100%;
            top: 0;
            margin-top: 2rem;
            color: $white;
            a,
            span {
                display: inline-block;
                color: $white;
                padding: 0.2rem 0.5rem;
                @include crea-texte-14-medium;
            }
            a {
                position: relative;
                z-index: 2;
                text-decoration: none;
                &:after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    width: 0;
                    left: 50%;
                    top: 50%;
                    height: 1rem;
                    background-color: rgba($crea-cuivre-400, 0.8);
                    @include transform(translate(-50%, 0%));
                    @include transition(
                        width 0.25s cubic-bezier(0.25, 0.74, 0.22, 0.99)
                    );
                }
                &:hover {
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
        #allpicture {
            position: absolute;
            z-index: 2;
            width: 100%;
            bottom: 4rem;
        }
        .swiper {
            position: relative;
            width: 100%;
            height: 100%;
            .swiper-wrapper {
                align-items: stretch;
            }
            .swiper-slide {
                user-select: none;
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .swiper-button-next,
            .swiper-button-prev {
                height: 100%;
                width: 20rem;
                margin: 0;
                &:after {
                    color: $white;
                }
            }

            .swiper-button-prev {
                left: 0;
                top: 0;
                bottom: 0;
            }
            .swiper-button-next {
                right: 0;
                top: 0;
                bottom: 0;
            }
        }
    }
    &#single-description {
        .bien-info {
            @include transform(translateY(-60%));
            .box {
                padding: 5rem;
                background-color: $white;
                border: 1px solid $crea-beige-300;
                .localisation {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    color: $crea-cuivre-400;
                    .ico {
                        margin-right: 1rem;
                    }
                }
            }
        }
        .bien-description {
            padding-top: calc(var(--paddingYsection) * 1);
            padding-bottom: calc(var(--paddingYsection) * 2);
            .bloc {
                padding-bottom: 4rem;
                margin-bottom: 4rem;
                border-bottom: 1px solid $crea-beige-400;
                h4 {
                    margin-bottom: 3rem;
                }
                .details {
                    .top {
                        display: flex;
                        align-items: center;
                        margin-bottom: 0;
                        @include crea-texte-14-medium;
                        .ico {
                            width: 3.5rem;
                            margin-right: 0.5rem;
                        }
                    }
                    .value {
                        @include crea-h4;
                        padding-left: 3.5rem;
                        margin-bottom: 0;
                    }
                }
                .classes {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 0.5rem;
                    .box {
                        width: 4.8rem;
                        height: 4.8rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $white;
                        border: 4px solid $white;
                        &.active {
                            border: 4px solid $crea-black-400;
                        }
                    }
                    .value {
                        @include crea-texte-14-medium;
                    }
                    &.ce {
                        .box {
                            &.boxA {
                                background-color: #58a23b;
                            }
                            &.boxB {
                                background-color: #82b342;
                            }
                            &.boxC {
                                background-color: #c2d04d;
                            }
                            &.boxD {
                                background-color: #e2dc39;
                            }
                            &.boxE {
                                background-color: #edcd4b;
                            }
                            &.boxF {
                                background-color: #e19d54;
                            }
                            &.boxG {
                                background-color: #ca2d40;
                            }
                        }
                    }
                    &.ges {
                        .box {
                            &.boxA {
                                background-color: #ebdbf8;
                            }
                            &.boxB {
                                background-color: #ddc4f4;
                            }
                            &.boxC {
                                background-color: #ceadf1;
                            }
                            &.boxD {
                                background-color: #c498ed;
                            }
                            &.boxE {
                                background-color: #af76e7;
                            }
                            &.boxF {
                                background-color: #9c55e3;
                            }
                            &.boxG {
                                background-color: #7e2ad5;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* purgecss start ignore */
section {
    .mySwiper {
        .swiper-wrapper {
            padding-bottom: 3.5rem;
            .swiper-slide {
                // cursor: grab;
                text-decoration: none;
                user-select: none;
                text-align: center;
                font-size: 18px;
                background: #fff;
                .thumb {
                    overflow: hidden;
                    img {
                        @include transform(scale(1));
                        @include transition(
                            all 0.25s cubic-bezier(0.25, 0.74, 0.22, 0.99)
                        );
                    }
                }
                .baseline {
                    padding: 2.4rem;
                    // text-transform: uppercase;
                    color: $crea-black-300;
                    b,
                    strong {
                        color: $crea-black-400;
                    }
                    span {
                        padding-right: 0.3rem;
                        &:after {
                            content: "•";
                            padding-left: 0.8rem;
                            color: $crea-black-300;
                        }
                        &:last-child {
                            &:after {
                                content: none;
                            }
                        }
                    }
                }
                &:hover {
                    img {
                        @include transform(scale(1.02));
                    }
                }
            }
        }
        .swiper-scrollbar {
            left: 50%;
            width: 40rem;
            max-width: 80%;
            height: 0.4rem;
            margin: auto;
            background-color: $crea-beige-400;
            @include transform(translateX(-50%));
        }
        .swiper-scrollbar-drag {
            background-color: $crea-beige-500;
        }
        .swiper-button-next,
        .swiper-button-prev {
            width: 22vw;
            top: 0;
            bottom: 0;
            height: 100%;
            margin: 0;
            &:after {
                color: $white;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgb(0, 0, 0);
                @include opacity(0);
                @include transition(
                    all 0.25s cubic-bezier(0.25, 0.74, 0.22, 0.99)
                );
            }
            &:hover {
                &:before {
                    @include opacity(1);
                }
            }
        }
        .swiper-button-next {
            right: 0;
            padding-right: 2rem;
            justify-content: flex-end;
            &:before {
                background: linear-gradient(
                    90deg,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0.3) 90%,
                    rgba(0, 0, 0, 0.3) 100%
                );
            }
        }
        .swiper-button-prev {
            left: 0;
            padding-left: 2rem;
            justify-content: flex-start;
            &:before {
                background: linear-gradient(
                    -90deg,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0.3) 90%,
                    rgba(0, 0, 0, 0.3) 100%
                );
            }
        }
    }
}
/* purgecss end ignore */
